* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



nav {
  background-color: aqua;
  padding: 10px;
  height: auto;
  text-align: center;
}

nav a {
  padding: 8px 16px;
  border-radius: 20px;
  margin: 0 8px;
  background: white;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}


table {
    width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: sans-serif;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #00bcd4;   /* colore simpatico e leggero */
  color: white;
}

thead th {
  padding: 12px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.5px;
}

tbody tr {
  border-bottom: 1px solid #e0e0e0;
  transition: 0.2s;
}

tbody tr:hover {
  background: #e3faff;    /* effetto hover carino */
}

tbody td {
  padding: 10px 14px;
  font-size: 15px;
  color: #333;
}


td.todo {
  background-color: red;
}

td.doing {
  background-color: yellow;
}

td.done {
  background-color: green;
}